<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/jc/bootstrap.min.css" rel="stylesheet">
    <link href="/static/jc/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <a href="/blog/"><h1>blog</h1></a>
    <h4>welcome:{{ username }}</h4>
   <a href="/userregister/">regist</a>
   <a href="/userlogin/">login</a>
   <a href="/blogfile/">blogfile</a>
    {{ bga }}

    <hr>

    {% for x in form %}
        <div>{{ x.field }}{{ x }}</div>
    {% endfor %}

    <form action="/blogadd/" method="post">
        {% csrf_token %}
        <input name="title" type="text" class="form-control" placeholder="title"style="margin-bottom: 5px;">
        <textarea name="content" class="form-control" id="" cols="30" rows="10" style="margin-bottom: 5px;"></textarea>
        <input type="submit" class="btn btn-block btn-success">
    </form>

    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="coo">
        <input type="submit">
    </form>
    {{ coo }}
    <hr>

    {% for x in art %}
        <div>
                <span><a href="/blog/{{ x.id }}.html"><h3><span>{{ x.id }}</span> {{ x.title }}</h3></a></span>
                <span><a href="{% url 'blogcontent' x.id %}" class="pull-right btn btn-danger btn-xs">delete</a></span>
        </div>
        <p class="text-muted">{{ x.content }}</p>
{#        <div class="">{% url 'blogcontent' x.id %}</div>#}
        <hr>
    {% endfor %}


</div>

<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>