<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/jc/bootstrap.min.css" rel="stylesheet">
    <link href="/static/jc/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <a href="/blog/"><h1>blog</h1></a>
    <hr>
    <h2>上传文件</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" class="form-control"  style="margin-bottom: 5px;">
        <input type="submit" class="form-control btn-success">
    </form>


{{ name }}
</div>

<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>