<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
{#    <link href="/static/jc/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="/static/jc/bootstrap-theme.min.css" rel="stylesheet">#}

    {% block jc %}
    {% endblock %}
</head>
<body>
<div class="container">
{% block bb %}
{% endblock %}
</div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>