{% extends 'base.html' %}
    {% block jc %}
        <style>
            .errorlist{
                color: #f00;
            }

        </style>
    {% endblock %}


    {% block bb %}
        <h1>MY BLOG</h1>
        <div class=""></div>
        <hr>
{#    <form action="" method="post" class="form-horizontal">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <input type="submit">#}
{##}
{#        <hr>#}
{#    </form>#}
    <hr>


        {{ ss }}

        <form action="" method="post" class="form-group">
         {% csrf_token %}
            {{ f1 }}

{#            <table class="table table">#}
{#            {% for x in f1 %}#}
{#                <tr>#}
{#                    <td>{{ x.label_tag }}</td>#}
{#                    <td>{{ x }}</td>#}
{#                    <td>{{ x.errors }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </table>#}

{#        {{ f1.as_p }}#}
            <input type="submit" class="btn btn-default">
        </form>
        <hr>

    {% for x in re %}

        <h2>{{ x.title }}</h2>
        <p>{{ x.content }}</p>
         <hr>
    {% endfor %}

{% endblock %}
