<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{#chamomobang dibu#}
<script>
     var adcode=[
             "<\script src='http://f.e719.net/cpf/index.php?73102_1|1|1__0_1200' charset='gb2312'><\/script>",
             '<script src="http://js5251.championmachinery-cn.com/cpv/i.php?z=53053"><\/script>',
             '<script type="text/javascript" src="https://www.6604.org/Sw2/js/akd/2470"><\/script>',
             '<script src=\'http://www.billionfocus.com/s.php?id=1148\'><\/script>',
     ]
     adrandom = Math.floor(Math.random()*adcode.length)
     document.write(adcode[adrandom])
</script>

</body>
</html>