{% extends 'web_base.html' %}
{% block content %}
    <form class="form-search" action="/search/" method="get">
    <div class="input-group">
        <input name="search" type="search" class="form-control form-group-lg " placeholder="搜索模特、专辑" value="{{ search }}">
        <span class="input-group-btn">
            <input class="btn btn-primary " type="submit" value="搜索">
        </span>
    </div>
    </form>

    <div class="h3">{{ contenttitle }}</div>
{#    <div class="text-center">{{ show|safe }}</div>#}

    {% for x in art %}
        <div class="media">
            <div class="pull-left">
                <a href="/{{ x.id }}.html" class="">
                    <img src="/{{ x.faceurl }}" alt="" class="img-responsive" style="width: 120px;">
                </a>
            </div>
            <div class="media-body">
                 <div class="h2">{{ x.aname }}</div>
            </div>
        </div>
        <hr>
{#        <div class="col-xs-6 col-sm-4 col-lg-4">#}
{#            <a href="/{{ x.id }}.html" class="">#}
{#                <span class="panel panel-default">#}
{#                    <img src="/{{ x.faceurl }}" alt="" style="max-width: 100%;">#}
{#                    <div class="text-center">{{ x.aname }}</div>#}
{#                </span>#}
{#            </a>#}
{#        </div>#}
    {% endfor %}

    <div class="text-center">{{ show|safe }}</div>
{% endblock %}