{% extends 'web_base.html' %}
{% block content %}
    <form class="form-search" action="/search/" method="get">
    <div class="input-group">
        <input name="search" type="search" class="form-control form-group-lg " placeholder="搜索模特、专辑" value="{{ serach }}">
        <span class="input-group-btn">
            <input class="btn btn-primary " type="submit" value="搜索">
        </span>
    </div>
    </form>

    <div class="h3">{{ forum.fname }}</div>
{#    <div class="text-center">{{ show|safe }}</div>#}
    <div class="row">
    {% for x in art %}
        <div class="col-xs-6 col-sm-4 col-lg-4">
            <a href="/{{ x.id }}.html" class="">
                <span class="panel panel-default">
                    <img src="/{{ x.faceurl }}" alt="" style="max-width: 100%;">
                    <div class="text-center">{{ x.aname }}</div>
                </span>
            </a>
        </div>
    {% endfor %}
    </div>
    <div class="text-center">{{ show|safe }}</div>
{% endblock %}