{% extends 'web_base.html' %}
{% block content %}

    <form class="form-search" action="/search/" method="get">
    <div class="input-group">
        <input name="search" type="search" class="form-control form-group-lg " placeholder="搜索模特、专辑" value="{{ serach }}">
        <span class="input-group-btn">
            <input class="btn btn-primary " type="submit" value="搜索">
        </span>
    </div>
    </form>


<div>
    <a href="/web_read/" class="btn btn-danger">read</a>
    <a href="/web_delete/" class="btn btn-danger">clear_sql</a>
</div>
    {% for x in forum %}
        <a class="h3" href="/forum/{{ x.id }}/" style="margin-bottom: 10px;">{{ x.fname }}</a>
    {% endfor %}
    <hr>
    <div class="row">
    {% for x in period %}
        <div class="col-xs-6 col-sm-3 col-lg-2">
            <a href="/{{ x.id }}.html" class="">
                <span class="panel panel-default">
                    <img src="/{{ x.pface }}" alt="" style="max-width: 100%;">
                    <div>{{ x.pname }}</div>
                </span>
            </a>
        </div>
    {% endfor %}
    </div>
    {{ bi }}


    <div class="" style="height: 10px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">友情链接</div>
        <div class="panel-body">
            {% for x in url %}
                <a href="{{ x.weburl }}">{{ x.webname }}</a>
            {% endfor %}
            
        </div>
    </div>

{% endblock %}