<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zhandian</title>
    <link href="/static/jc/bootstrap.min.css" rel="stylesheet">
    <link href="/static/jc/bootstrap-theme.min.css" rel="stylesheet">
    <script src="/static/jc/jquery.min.js"></script>
    <script src="/static/jc/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>
<div class="" style="height: 60px;"></div>

{% block content%}{% endblock %}

</div>
</body>
</html>